
<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Number 24" %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}
    {% set is_admin = current_user.is_admin %}

    <!-- table row -->
    <div class="row col-12 align-top">

        <div class="col-8 align-top">

            <div class="row">
                <div class="col-12">
                    <h1 style="font-size: 256px;" id='number'> 1 2 3 4 </h1>
                </div>
{#                <div class="row col-12 align-top align-items-start" style="background-color: red">#}
                    <div class="col-3">
                        <h1 id="pts-label"></h1>
                    </div>
                    <div class="col-3">
                        <h1 id="seconds-label"></h1>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-lg btn-secondary" onclick="javascript: pause_continue()" id="pause-continue-btn">Pause</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-lg btn-primary" onclick="javascript: store_number(false)">Combination Solved</button>
                    </div>
{#                </div>#}
            </div>

        </div>

        <div class="col-4">
<div class="card">
        <div class="card-header"><h3>History</h3></div>
        <div class="card-body p-0">

            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0">Sequence</th>
                        <th class="border-0">Time</th>
                        <th class="border-0">Pts</th>
                    </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr><td><span class="badge badge-{{ badge_type }} mr-1"></span></td><td></td></tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
        </div>

    </div>
    <!-- end table row -->

</div>

<script>

    var seconds_counter = 0;
    var timeOutId = null;
    var index = 0;
    var sequences = null;
    var number_text = '';
    var pts = null;

    function update_time(){
        $('#seconds-label').text('Seconds: ' + seconds_counter);
        seconds_counter += 1;
        if (seconds_counter > 120)
            store_number(true);
        else
            timeOutId = setTimeout(update_time, 1000);  // every second
    }

    function reset_time(){
        clearTimeout(timeOutId);
        seconds_counter = 0;
        update_time();
        document.getElementById('pause-continue-btn').innerText = 'Pause';
    }

function pick_number(){
    var number = sequences[index];
    var seq = number.seq;
    index += 1;
    var pts_text = "Pts: " + number.pts;
    document.getElementById('pts-label').innerText = pts_text;
    number_text = seq[0] + " " + seq[1] + " " + seq[2] + " " + seq[3];
    document.getElementById('number').innerText = number_text;

    reset_time();
}

function store_number(expired) {
      var badge_type = expired ? 'danger' : 'success';
        var rowHtml =  '<tr><td><span class="badge badge-lg badge-' + badge_type + ' mr-1">';
        rowHtml += number_text + '</span></td><td>' + seconds_counter + '</td>';
        rowHtml += '<td>' + (pts + 2) + '</td></tr>';

    $('#table-body').append(rowHtml);
    pick_number();
}

function pause_continue(){
        var btn = document.getElementById('pause-continue-btn');
        if (btn.innerText == 'Pause') {
            btn.innerText = 'Continue';
            clearTimeout(timeOutId);
        }
        else {
            btn.innerText = 'Pause';
            timeOutId = setTimeout(update_time, 1000);  // every second
        }
}

// Used like so
var sequences = {{ sequences|tojson }};



(function(window, document, $, undefined) {
    "use strict";

        //var arr = shuffle(data.one);

        pick_number();

})(window, document, window.jQuery);

</script>

