{% import "entry_macros.html" as macros %}

<!-- Session Macro definitions -->
{% macro row(title, value, label) -%}
    {% set class = label or 'label' %}
    <div class="row">
        <label class="col-12 col-sm-4 col-form-label text-sm-right">{{ title }}</label>
        <div class="col-12 col-sm-8 col-lg-6">
            <{{ class }} class="col-12 text-sm-left col-form-label ">{{ value }}</{{ class }}>
        </div>
    </div>
{%- endmacro %}

<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = '' %}
    {% set navigation = [('Dashboard', url_for_content('dashboard')), ('Sessions', '')] %}
    {% include 'include_header.html' %}

        <div class="row">


             <div class="card col-12">
                <div class="card-header">
                    <h3>Overall</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <form id="session-form" data-parsley-validate="" novalidate="">
                                {{ row('Seen', stats['seen'], 'h4') }}
                                {{ row('Percentage', stats['percent'], 'h4') }}
                                {{ row('Good', stats['good']) }}
                                {{ row('Bad', stats['bad']) }}
                            </form>
                        </div>
                        <div class="col-6">
                            <div class="col-12" id="seen_pie"></div>
                        </div>
                    </div>

                </div>
            </div> <!-- Card -->


            <div class="card col-12">
                <div class="card-header">
                    <h3>All sessions</h3>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="pts-table">
                        <thead class="bg-light">
                        <tr class="border-0">
                            <th class="border-0">Time</th>
                            <th class="border-0">Total </th>
                            <th class="border-0">Good </th>
                            <th class="border-0">Bad </th>
                            <th class="border-0">Avg. Time </th>
                            <th class="border-0">Data</th>
                        </tr>
                        </thead>
                        <tbody id="table-body">
                            {% for s in sessions %}
                            <tr>
                                <td>{{ s['date'] }}</td>
                                <td>{{ s['data']|length }} </td>
                                <td style="color: green">{{ s['info']['good'] }}</td>
                                <td style="color: red">{{ s['info']['bad'] }}</td>
                                <td>{{ s['info']['avg'] }}</td>
                                <td>

                                    {% for d in s['data'] %}
                                        {% set badge_type = 'danger' if d['expired'] else 'success' %}
{#                                        <span class="badge-{{ badge_type }}">{{ d['id'] }}</span>#}
                                        {% set seq = sequencesDict[d['id']] %}
                                        {% set html = "<b>Solutions:</b> </br><ul><li>" + seq['sol'] + "</li></ul>" %}
                                        <button type="button" class="btn btn-sm btn-{{ badge_type }}  mr-1" data-trigger="focus" data-html="true" data-content="{{ html }}" data-toggle="popover" data-placement="top">{{ d['id'] }}</button>
                                        <span class="mr-3"> {{ d['secs'] }}</span>
                                    {% endfor %}
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                </div>
            </div> <!-- Card -->

        </div>



</div>



<script>
    var applications;
    var applicationDict = {};
    var templates;
    var templateDict = {};
    var template = null;
    var pie_data = {{ pie_data|tojson }};


(function(window, document, $, undefined) {
    "use strict";

    $('select').selectpicker();
     $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover()

    create_hc_usage('seen_pie', 'pie', pie_data, null, {title: ''});


})(window, document, window.jQuery);


</script>